In [1]:
import numpy as np
import pandas as pd

In [7]:
train = pd.read_csv('./raws/train_data.csv')
test = pd.read_csv('./raws/test_data.csv')

In [34]:
train.iloc[:, :30].describe()

,Unnamed: 0,lat,lon,area,year,month,cover,depth_original,cliff_length,aicial_length,...,river_dist,Salinity_annual,warm_sst,sst_annual,sst_ymd,sst_diff,Blue,Green,Red,NIR
count,14140.000000,14140.000000,14140.000000,14140.000000,14140.000000,14140.000000,14140.000000,4419.000000,13849.000000,13849.000000,...,13849.000000,13849.000000,13849.000000,14140.000000,14060.000000,14060.000000,10558.000000,10545.000000,10535.000000,10524.000000
mean,7069.500000,25.476432,126.039142,22.096128,2012.432603,8.375601,0.183183,2.284291,14.964065,103.170271,...,34.604008,34.596631,29.191079,25.557566,26.627706,-1.073514,60.595385,40.874585,20.289976,9.462169
std,4082.010738,1.079588,1.859783,6.772981,4.526390,2.901063,0.263111,3.671274,95.417147,272.425535,...,42.992473,0.059688,0.156837,0.612289,2.482326,2.439465,12.918411,13.460612,9.229543,9.464907
min,0.000000,24.051778,122.931556,0.250000,1999.000000,1.000000,0.000000,-1.200000,0.000000,0.000000,...,0.001383,34.440437,28.872749,24.692008,20.394500,-5.058069,39.758636,20.161633,8.737588,2.656952
25%,3534.750000,24.422762,124.134843,20.000000,2009.000000,7.000000,0.025000,0.275000,0.000000,0.000000,...,4.838670,34.550766,29.068127,24.888800,24.762750,-2.979097,49.940260,29.469643,13.909598,4.954968
50%,7069.500000,24.924805,125.301625,20.000000,2011.000000,9.000000,0.050000,1.100000,0.000000,0.266969,...,12.096151,34.571365,29.224783,25.834859,27.181839,-1.575079,58.162676,38.754879,16.888659,6.531480
75%,10604.250000,26.599000,127.916022,20.000000,2019.000000,10.000000,0.200000,2.950000,0.000000,61.757866,...,37.324825,34.653267,29.323446,26.138150,28.640750,0.827886,68.423811,48.608784,24.600445,9.559919
max,14139.000000,27.095889,131.333278,40.000000,2020.000000,12.000000,1.000000,46.000000,1563.006470,3486.756592,...,136.394470,34.751831,29.437668,26.664927,30.042500,4.520039,123.143799,120.500969,99.471909,105.870705

In [35]:
test.iloc[:, :30].describe()

,Unnamed: 0,lat,lon,area,year,month,depth_original,cliff_length,aicial_length,beach_length,...,Salinity_annual,warm_sst,sst_annual,sst_ymd,sst_diff,Blue,Green,Red,NIR,SWIR1
count,4039.000000,4039.000000,4039.000000,4037.000000,4039.000000,4039.000000,1986.000000,4017.000000,4017.000000,4017.000000,...,4017.000000,4017.000000,4039.000000,4039.000000,4039.000000,2916.000000,2916.000000,2914.000000,2911.000000,2916.000000
mean,2019.000000,25.376991,125.971746,31.260837,2013.403565,8.394405,1.036576,12.154798,128.865180,674.410929,...,34.604607,29.173338,25.596320,27.130403,-1.534083,58.852089,39.990426,20.339540,8.437669,0.836577
std,1166.103197,0.934498,1.516019,53.509080,5.018593,2.367474,2.573277,70.580943,222.240971,493.756884,...,0.054206,0.142735,0.526654,2.057450,1.994718,10.575488,12.405499,9.160899,7.343723,0.880652
min,0.000000,24.044556,123.750083,20.000000,2002.000000,1.000000,-1.200000,0.000000,0.000000,0.000000,...,34.511730,28.939396,24.787487,20.901069,-4.770772,39.587040,19.961060,8.343710,2.848473,0.044103
25%,1009.500000,24.562069,124.297514,20.000000,2010.000000,7.000000,0.000000,0.000000,0.000000,324.306610,...,34.559368,29.016672,25.036877,26.300833,-3.254497,49.581686,28.759780,12.917180,5.033140,0.388420
50%,2019.000000,24.783725,125.398451,20.000000,2011.000000,9.000000,0.400000,0.000000,29.399441,633.813782,...,34.575493,29.148891,25.860336,27.010500,-1.150164,58.879253,39.391537,17.734677,6.415680,0.572431
75%,3028.500000,26.337013,127.819899,20.000000,2019.000000,10.000000,1.000000,0.000000,164.169876,909.257385,...,34.667332,29.294271,26.121398,28.758700,-0.946486,65.106861,48.742756,24.822420,9.152684,0.897457
max,4038.000000,26.732861,128.016111,314.000000,2019.000000,12.000000,23.800000,888.931152,1992.195801,3157.184570,...,34.724716,29.437014,26.444263,30.784250,4.464140,100.600929,85.819984,73.853485,118.856850,9.644810

In [6]:
test

,Unnamed: 0,lat,lon,area,YMD,year,month,depth_original,cliff_length,aicial_length,...,MIN_NormG_2020,MIN_NormR_2020,MIN_PPR_2020,MIN_PSNDc2_2020,MIN_RDVI_2020,MIN_IF_2020,MIN_SLAVI_2020,MIN_SIPI2_2020,MIN_VARIgreen_2020,mesh20
0,0,24.352222,124.202674,20.0,2002.12,2002.0,12.0,0.5,0.000000,725.621704,...,0.409346,0.323023,-0.066356,-0.560810,-3.203797,4.297234,926.905329,1.669992,0.194766,3624_20
1,1,24.420028,124.078583,20.0,20100723,2010.0,7.0,NaN,0.000000,0.000000,...,0.540733,0.275585,-0.291240,-0.824888,-2.222276,2.263106,57.661693,4.274851,-79.273275,3624_20
2,2,26.494197,127.836013,100.0,"2004.2.20-2004.2.22,2004.2.27-2004.2.29,2004.3...",2004.0,2.0,13.8,73.183418,80.595177,...,0.601792,0.252251,-0.318454,-0.861477,-2.060505,2.099250,42.672829,5.655713,-2.061417,3927_23
3,3,26.183639,127.319361,20.0,20100805,2010.0,8.0,NaN,0.000000,0.000000,...,0.484109,0.270476,-0.320391,-0.863338,-2.708627,-10.433323,45.061952,1.546086,-14.527890,3927_11
4,4,24.761089,125.269009,20.0,NaN,2019.0,10.0,-0.5,0.000000,34.796036,...,0.440959,0.314171,-0.231658,-0.824787,-5.249625,2.563503,80.374689,1.827876,-6.335208,3725_01
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4034,4034,26.702075,127.873347,20.0,NaN,2019.0,9.0,0.4,0.000000,20.594961,...,0.503388,0.260930,-0.187582,-0.861148,-3.207146,3.633575,60.936945,3.053976,-28.354402,4027_03
4035,4035,24.337028,124.232694,20.0,20101122,2010.0,11.0,NaN,0.000000,0.000000,...,0.520536,0.286240,-0.264021,-0.833596,-2.385447,2.495430,75.231230,3.946128,-2.112646,3624_20
4036,4036,26.493121,127.839918,100.0,"2004.2.20-2004.2.22,2004.2.27-2004.2.29,2004.3...",2004.0,2.0,0.1,76.439651,133.127228,...,0.543260,0.316359,-0.123194,-0.843974,-4.397375,4.403977,117.513676,1.904304,0.601280,3927_23
4037,4037,24.068778,123.804194,20.0,20110415,2011.0,4.0,NaN,73.660492,0.000000,...,0.415094,0.302570,-0.276085,-0.788681,-3.821984,2.203933,121.654726,2.282056,-2.029225,3623_03
4038,4038,24.791766,125.250825,20.0,NaN,2019.0,10.0,0.2,0.000000,46.460155,...,0.583428,0.287556,-0.086155,-0.907907,-5.638793,7.080204,128.096108,1.783276,0.646303,3725_01

# testデータに類似のtrainデータ抽出

In [63]:
import numpy as np
import pandas as pd
import lightgbm as lgb
import pickle
from sklearn.model_selection import train_test_split

train_p = pickle.load(open('./processed/lgb_train.pkl', 'rb'))
test_p = pickle.load(open('./processed/lgb_test.pkl', 'rb'))

In [64]:
train_p['istrain'] = 1
test_p['istrain'] = 0

master = pd.concat([train_p, test_p])
x = master.drop(columns=['cover', 'istrain'])
y = master['istrain']

tr_x, va_x, tr_y, va_y = train_test_split(x, y, train_size=0.8)

lgb_train = lgb.Dataset(tr_x, tr_y)
lgb_val = lgb.Dataset(va_x, va_y)

In [65]:
params = {
    'objective': 'binary',
    'metric': 'binary_logloss',
    'verbose': -1,
    'random_state': 12,
    'min_data_in_leaf': 100,
    'bagging_fraction': 0.5,
    'bagging_freq': 1
}

model = lgb.train(
    params,
    lgb_train,
    valid_sets=[lgb_train, lgb_val],
    valid_names=['train', 'val'],
    num_boost_round=10000,
    callbacks=[lgb.early_stopping(stopping_rounds=3, verbose=True)]
)

Training until validation scores don't improve for 3 rounds
Early stopping, best iteration is:
[138]	train's binary_logloss: 0.000504717	val's binary_logloss: 0.0057949

In [66]:
train_p['pred'] = model.predict(train_p.drop(columns=['cover', 'istrain']))

In [67]:
imp = pd.DataFrame({'col': tr_x.columns, 'imp': model.feature_importance(importance_type='gain')})
imp.sort_values('imp', ascending=False)

                col          imp
16  Salinity_annual  9894.533876
15       river_dist  8964.032105
20         sst_diff  8142.569802
2             month  7732.211956
14       river_area  6183.862194
9          cold_sst  6180.726512
19          sst_ymd  5379.551803
12    hist_cold_sst  5293.222224
1              year  4953.895969
17         warm_sst  4061.404711
13    hist_warm_sst  3826.175574
18       sst_annual  3386.406230
8      coastal_dist  1506.782331
3    depth_original   980.555203
21       beach_rate   966.655074
11            fetch   878.748457
5     aicial_length   680.166656
0              area   551.996074
7      coast_length   498.964333
10            depth   380.935608
4      cliff_length   256.763573
6      beach_length   206.261974
22      aicial_rate   100.014437

In [68]:
train_p.sort_values('pred', ascending=False).tail(30)

,area,year,month,cover,depth_original,cliff_length,aicial_length,beach_length,coast_length,coastal_dist,...,river_dist,Salinity_annual,warm_sst,sst_annual,sst_ymd,sst_diff,beach_rate,aicial_rate,istrain,pred
12534,20.0,2010.0,6.0,0.050,NaN,0.000000,0.000000,487.489929,487.489929,460.000000,...,30.283869,34.682938,28.964170,25.182578,26.338800,-1.156222,1.000000,0.000000,1,0.975966
5598,20.0,2010.0,7.0,0.050,NaN,0.000000,0.000000,293.926697,293.926697,570.000000,...,14.326957,34.559967,29.341133,26.116059,29.753452,-3.637393,1.000000,0.000000,1,0.975783
6203,20.0,2010.0,1.0,0.025,NaN,0.000000,0.000000,357.193909,357.193909,422.000000,...,15.333570,34.657425,29.171062,25.142111,21.616774,3.525337,1.000000,0.000000,1,0.975547
2160,20.0,2010.0,1.0,0.075,NaN,0.000000,17.269918,1019.505554,1036.775513,110.000000,...,13.421282,34.663815,29.189938,25.117286,21.543871,3.573415,0.983343,0.016657,1,0.973630
3770,20.0,2010.0,11.0,0.050,NaN,0.000000,0.000000,403.471375,403.471375,973.333313,...,5.205895,34.557236,29.264177,26.155778,25.451717,0.704061,1.000000,0.000000,1,0.971740
5381,20.0,2011.0,7.0,0.050,NaN,35.489151,0.569071,717.392822,753.451050,160.000000,...,16.527105,34.711761,29.129904,24.936576,28.371403,-3.434827,0.952143,0.000755,1,0.970552
1214,20.0,2010.0,6.0,0.050,NaN,0.000000,47.273357,1750.258179,1797.531494,75.000000,...,37.421604,34.670029,28.944300,25.204878,26.341100,-1.136222,0.973701,0.026299,1,0.968581
8632,20.0,2011.0,9.0,0.050,NaN,0.000000,0.000000,0.000000,0.000000,9370.000000,...,128.915299,34.558819,29.166386,25.898440,28.751800,-2.853360,NaN,NaN,1,0.968032
3565,20.0,2009.0,12.0,0.025,NaN,0.000000,6.537746,642.020081,648.557861,225.000000,...,8.340210,34.618782,29.241457,25.012034,24.117000,0.895034,0.989920,0.010080,1,0.967771
12616,20.0,2019.0,10.0,0.025,-0.1,0.000000,41.598492,468.997436,510.595917,650.000000,...,116.285995,34.570839,29.285189,25.897872,26.811194,-0.913322,0.918530,0.081470,1,0.966271
8063,20.0,2009.0,12.0,0.075,NaN,0.000000,0.000000,985.545898,985.545898,283.333344,...,13.804741,34.623871,29.204256,25.056084,24.170500,0.885584,1.000000,0.000000,1,0.964736
361,20.0,2010.0,12.0,0.050,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,26.117606,24.370000,1.747606,NaN,NaN,1,0.964280
9316,20.0,2009.0,11.0,0.025,NaN,0.000000,213.347549,120.982742,334.330292,320.000000,...,7.836055,34.640480,29.355902,25.013799,25.027283,-0.013484,0.361866,0.638134,1,0.963039
6802,20.0,2009.0,9.0,0.025,NaN,504.870422,59.860210,1112.347168,1677.077881,130.000000,...,7.958413,34.672066,29.126036,24.908631,28.743467,-3.834836,0.663265,0.035693,1,0.961447
11926,20.0,2009.0,11.0,0.025,NaN,0.000000,333.455963,177.946747,511.402710,495.000000,...,7.839644,34.640293,29.354929,25.013799,25.027283,-0.013484,0.347958,0.652042,1,0.961325
7640,20.0,2010.0,6.0,0.050,NaN,18.274681,0.000000,864.112305,882.386963,420.000000,...,42.000175,34.661457,29.043581,25.282612,26.356133,-1.073521,0.979290,0.000000,1,0.961134
6280,20.0,2009.0,12.0,0.025,NaN,0.000000,0.000000,0.000000,0.000000,1746.666626,...,13.213482,34.622536,29.211922,25.031541,23.441065,1.590476,NaN,NaN,1,0.960701
652,20.0,2009.0,12.0,0.025,NaN,0.000000,0.000000,0.000000,0.000000,3230.000000,...,13.991048,34.618893,29.195841,25.031062,23.483694,1.547368,NaN,NaN,1,0.951437
8160,20.0,2010.0,7.0,0.050,NaN,0.000000,0.000000,356.531555,356.531555,480.000000,...,14.209167,34.559914,29.339418,26.116059,29.753452,-3.637393,1.000000,0.000000,1,0.951145
3480,20.0,2010.0,7.0,0.050,NaN,0.000000,0.000000,256.975586,256.975586,635.000000,...,14.466298,34.560051,29.342049,26.115470,29.742194,-3.626724,1.000000,0.000000,1,0.923333
12255,20.0,2009.0,10.0,0.025,NaN,0.000000,2.667342,950.353760,953.021118,135.000000,...,4.718040,34.640358,29.048038,24.785696,26.914629,-2.128933,0.997201,0.002799,1,0.918221
12700,20.0,2011.0,4.0,0.050,NaN,0.000000,0.000000,358.659729,358.659729,500.000000,...,28.395763,34.511875,29.347473,26.443039,21.923000,4.520039,1.000000,0.000000,1,0.887266
11212,20.0,2009.0,12.0,0.025,NaN,0.000000,0.000000,318.663147,318.663147,935.000000,...,14.268369,34.624023,29.198677,25.057962,23.508129,1.549833,1.000000,0.000000,1,0.876399
7954,20.0,2009.0,12.0,0.175,NaN,0.000000,0.000000,2012.151855,2012.151855,183.333328,...,13.290591,34.625217,29.213783,25.056084,24.170500,0.885584,1.000000,0.000000,1,0.837384
1443,20.0,2009.0,11.0,0.025,NaN,0.000000,745.669067,354.516266,1100.185303,520.000000,...,7.972263,34.639709,29.348454,25.013799,25.027283,-0.013484,0.322233,0.677767,1,0.519919
12850,20.0,2010.0,6.0,0.050,NaN,77.891975,0.000000,1000.870483,1078.762451,40.000000,...,42.118248,34.661171,29.077585,25.288759,26.347467,-1.058708,0.927795,0.000000,1,0.429486
12849,20.0,2011.0,10.0,0.050,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,25.889525,27.193613,-1.304088,NaN,NaN,1,0.390168
13107,20.0,2011.0,10.0,0.050,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,25.889525,27.193613,-1.304088,NaN,NaN,1,0.390168
3101,20.0,2010.0,7.0,0.050,NaN,0.000000,0.000000,67.070084,67.070084,1710.000000,...,18.580721,34.560337,29.367598,26.133083,29.788645,-3.655563,1.000000,0.000000,1,0.043662
12000,20.0,2009.0,12.0,0.025,NaN,0.000000,0.000000,0.000000,0.000000,3400.000000,...,14.356748,34.617672,29.185125,25.050486,23.542613,1.507873,NaN,NaN,1,0.036238